@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}

<div class="intro-content">
    <div class="col-lg-6">
        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <h2 class="h-ultra">Medicio medical group</h2>
        </div>

        <br />
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="wow fadeInRight" data-wow-delay="0.1s">
                    <a href="/Doctor/Index">
                        <div class="w3-card-12" style="width: 100%">
                            <img src="~/Script/bootstrap/img/photo/6.jpg" style="width: 100%" />
                            <div class="w3-container w3-center">
                                <br />
                                <p>Doctor's</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wow fadeInRight" data-wow-delay="0.1s">
                    <a href="/Home/Home">
                        <div class="w3-card-12" style="width: 100%">
                            <img src="~/Script/bootstrap/img/photo/4.jpg" style="width: 100%" />
                            <div class="w3-container w3-center">
                                <br />
                                <p>Patient's</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wow fadeInRight" data-wow-delay="0.1s">
                    <a href="/Mecidine/Index">
                        <div class="w3-card-12" style="width: 100%">
                            <img src="~/Script/bootstrap/img/photo/3.jpg" style="width: 100%" />
                            <div class="w3-container w3-center">
                                <br />
                                <p>Medicine</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
